body.about {
  background-image: url(../assests/images/Lake_Tahoe_California_Nevada101.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.left-side-bar {
  float: left;
  left: 0;
  width: 30%;
  height: 100%;
  position: absolute;
}

img {
}

.profile-picture {
  width: 90%;
  max-width: 100%;
  margin: 15px 15px 0px 15px;
  background-repeat: no-repeat;  
  background-size: contain;
  z-index: 1;
}

.quote {
  opacity: .5;
  width: 90%;
  max-width: 100%;
  margin: 0px 0px 0px 15px;
  background-repeat: no-repeat;  
  z-index: 1;
}

.selling-points {
    float: left;
    right: 0;
    text-align: center;
    height: 100%;
    width: 30%;
    position: absolute;
    top: auto;
    margin-right: 5px;
  padding: 15px;
}

.point {
    color: black;
    height: auto;
    position: relative;
    padding: .5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    -webkit-transform: translate(-200px, -200px);
    -moz-transform: translate(-200px, -200px);
    transform: translate(-200px, -200px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.point:hover {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    transform: translateZ(100px);  
}

.point.engineer:hover {
    opacity: 0.25;
    color: white;
    background-image: url(../assests/images/open-source-software.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.point.photographer:hover {
    opacity: 0.25;
    color: white;
    background-image: url(../assests/images/photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.point .point-title {
    font-size: 1.25rem;
}

.ion-ios-gear-outline,
.ion-ios-camera,
.ion-iphone {
    color: black;
    font-size: 3rem;
}

.ion-ios-gear-outline,
.ion-ios-camera,
.ion-iphone:hover {
    color: white;
}
