html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(50, 10, 100);
    min-height: 100%;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: rgba(50,10,100,0.15);
    border-style: none;
    z-index: 1;
}

.navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navbar-link:hover {
    color: rgb(50,10,100);
    letter-spacing: 0.15rem;
    border-bottom: thin solid rgb(50,10,100);
}

.navbar-link:active {
    background-color: white;
}

.JND {
    font-size: 1rem;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    letter-spacing: 0rem;
    text-transform: uppercase;
    text-decoration: none;
    /*transform-origin: center;*/
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.JND:hover {
    color: rgb(50, 10, 100);
    letter-spacing: 0.15rem;
    text-decoration: none;
    border-bottom: thin solid rgb(50,10,100);
}

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github,
.ion-email
{
    font-size: 1.25rem;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

@media (min-width: 780px) {
    html { font-size: 112%; }   
    
    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

@media (min-width: 1024px) {
    html { font-size: 1.2rem; }
}
