.hero-content {
  position: relative;
  top: 5%;
  width: 100%;
  align-content: center;
}

.hero-content .hero-title {
    margin: 15px;
    font-size: 4.25rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    text-shadow: 1px 1px 2px rgb(58,23,63);
}
